<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias alias="search" type="com.yedam.common.SearchDTO"/>
		<typeAlias alias="Product" type="com.yedam.vo.ProductVO"/>
		<typeAlias alias="Board" type="com.yedam.vo.BoardVO"/>
		<typeAlias alias="Member" type="com.yedam.vo.MemberVO"/>
		<typeAlias alias="Address" type="com.yedam.vo.AddressVO"/>
		<typeAlias alias="Cart" type="com.yedam.vo.CartVO" />
		<typeAlias alias="CartList" type="com.yedam.vo.CartListVO" />
		<typeAlias alias="Review" type="com.yedam.vo.ReviewVO"/>
		<typeAlias alias="Point" type="com.yedam.vo.PointVO"/>
		<typeAlias alias="Order" type="com.yedam.vo.OrderVO"/>
		<typeAlias alias="Stock" type="com.yedam.vo.StockVO"/>
		<typeAlias alias="CompleteList" type="com.yedam.vo.CompleteListVO"/>

	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver"
					value="oracle.jdbc.driver.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="project0606" />
				<property name="password" value="project0606" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/yedam/mapper/ProductMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/BoardMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/MemberMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/AddressMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/CartMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/MainMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/BoardMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/PointMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/ReviewMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/OrderMapper.xml"></mapper>
		<mapper resource="com/yedam/mapper/CompleteMapper.xml"></mapper>
	</mappers>

</configuration>