.mypage-container {
  width: 1200px;
  margin: 0 auto;
  border: 2px solid #81c408;
  padding: 30px;
  text-align: center;
  background-color: #fff;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

.summary-boxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  padding-bottom: 15px;
}

.summary-item {
  flex: 1;
  border-left: 1px solid #000;
  padding: 10px;
}

.summary-item:first-child {
  border-left: none;
}

.menu-grid {
  display: flex;
  justify-content: space-between; /* 버튼 사이 간격 */
  gap: 10px; /* 버튼 사이 여백 */
  margin-top: 20px;
}

.menu-item {
  flex: 1; /* 모든 버튼이 동일 너비 */
  text-align: center;
  padding: 15px 0;
  color: #fff;
  border: 2px solid #7ac142;
  background: #7ac142;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold; 
  letter-spacing: 0px;
  transition: all 0.1s ease-out;
}

.menu-item:hover {
 color: #7ac142;
	background: #fff;
	border: 2px solid #7ac142;
}

.section-content {
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}
