<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.CartMapper">

	<!-- 장바구니목록출력 -->
	<!-- 세션은로 받아오는 user id -->
	<select id="selectCartList" resultType="Cart">
		select *
	    from tbl_cart
	    where user_id = #{userId} 
	</select>
</mapper>