<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.CartMapper">

	<!-- 장바구니목록출력 -->
	<!-- 세션은로 받아오는 user id -->
	<select id="selectCartList" parameterType="string" resultType="CartList">
		select c.cart_qty, 
               p.prd_name, p.prd_image, p.prd_price, p.prd_sort
        from tbl_cart c
        join tbl_product p
             on c.prd_no = p.prd_no
        where c.user_id = #{userId}
	</select>
	<!-- 장바구니 전체비우기 -->
	<delete id="deleteList" parameterType="string">
		DELETE from tbl_cart
        where user_id = #{userId}
	</delete>
	
</mapper>