<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.CartMapper">

	<!-- 장바구니목록출력 -->
	<select id="selectCartList" parameterType="String" resultType="CartList">
		select c.cart_qty, c.prd_no,
               p.prd_name, p.prd_image, p.prd_price, p.prd_sort
        from tbl_cart c
        join tbl_product p
             on c.prd_no = p.prd_no
        where c.user_id = #{userId}
	</select>
	
	<!-- 장바구니 전체비우기 -->
	<delete id="deleteList" parameterType="String">
		delete from tbl_cart
        where user_id = #{userId}
	</delete>
	
	
	<!-- 장바구니 상품 단건삭제 -->
	<delete id="eachDelCart" parameterType="map">
		delete from tbl_cart
		where user_id = #{userId}
		  and prd_No= #{prdNo}
	</delete>
	
	<!-- 장바구니 수량업데이트 -->
	<update id="updateCartQty" parameterType="map">
		update tbl_cart
		set cart_qty = #{cartQty}
		where user_id = #{userId}
		and prd_no= #{prdNo}
	</update>
	

	<!-- 등록누를시 장바구니로 -->
	<insert id="insertCart" parameterType="Cart">
		insert into tbl_cart
		values(#{userId},#{prdNo},#{cartQty})
	</insert>

	<!-- 장바구니 수량(icon반영) -->
	<select id="selectCountCart" parameterType="String" resultType="int">
		select count(prd_no)
        from tbl_cart
        where user_id = #{userId}
	</select>

	
</mapper>