<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ProductMapper">

	<!-- 상품 전체 -->
	<select id="selectList" resultType="Product">
		select prd_no, prd_name,
		prd_image,
		prd_content,prd_price, prd_sort, prd_date
		from tbl_product
		order by prd_no
	</select>

	<!-- 상품 카테고리별 수량 -->
	<select id="selectCount" resultType="Product">
		select count(prd_sort)
		"prdCount" ,prd_sort
		from tbl_product
		group by prd_sort
	</select>

	<!-- 상품 목록 카테고리 -->
	<select id="selectCategory" resultType="Product" >
		Select a.*
		from (select rownum rn, prd_no, prd_name, prd_image,
		prd_content,prd_price, prd_sort, prd_date
		from tbl_product 
		where
		prd_sort = #{prdSort}) a
		where a.rn > (${page} - 1 ) * 9 
		<![CDATA[
		and a.rn <= (${page} * 9)
		]]>
	</select>

	<!-- 상품목록 페이징 -->
	<select id="selectListPaging">
		SELECT a.*
		from (SELECT rownum rn, r.*
		FROM TBL_PRODUCT r
		order by
		prd_price) a
		where a.rn > (${page} - 1 ) * 9 
		<![CDATA[
		and a.rn <= (${page} * 9)
		]]>
	</select>

	<!-- 옵션별 상품 목록 -->
	<select id="selectOption" parameterType="search">
		SELECT a.*
		from (SELECT rownum rn, r.*
			  FROM TBL_PRODUCT r
		<choose>
			<when test='!prdSort.equals("df")'>
				where prd_sort = #{prdSort}
			</when>
		</choose>
		order by prd_price ${order} ) a
		where a.rn > (${page} - 1 ) * 9 * 0
		<![CDATA[
		and a.rn <= (${page} * 9)
		]]>
	</select>
	<!-- 목록 검색 -->
	<select id="selectSearch">
		select a.*
		from(SELECT r.* ,rownum rn
		FROM TBL_PRODUCT r
		WHERE PRD_NAME LIKE '%' || #{keyword} || '%' 
		ORDER BY PRD_NO ) a
		where a.rn > (${page} - 1 ) * 9 
		<![CDATA[
		and a.rn <= (${page} * 9)
		]]>
	</select>
	
	<!-- 검색 목록 갯수 -->
	<select id="selectCountSearch">
		select count(*)
		from tbl_product
		where prd_name like '%' || #{keyword} || '%'
	</select>
	
	<!-- 상품 전체 갯수 -->
	<select id="selectCountPage" resultType="int">
		select count(prd_no)
		from tbl_product
	</select>

	<!-- 상품 추가 -->
	<insert id="insertProduct" parameterType="Product">
		insert into tbl_product (prd_name, prd_image, prd_content, prd_price, prd_sort)
		values (#{prdName}, #{prdImage}, #{prdContent}, #{prdPrice}, #{prdSort})
	</insert>
	
	<!-- 재고 최초 등록 -->
	<insert id="firstStock" parameterType="int">
		insert into tbl_stock (prd_no, prd_stock)
		values (prd_no_seq.CURRVAL, #{prdStock})
	</insert>
	
	<!-- 재고포함 상품 -->
	<select id="stockList" resultType="Product">
		SELECT   p.prd_no,
		         p.prd_name,
		         p.prd_sort,
		         p.prd_image,
		         p.prd_price,
		         p.prd_content,
		         p.prd_date,
		         SUM(s.prd_stock) AS prd_stock
		FROM     tbl_product p
		JOIN     tbl_stock s ON p.prd_no = s.prd_no
		GROUP BY p.prd_no, p.prd_name, p.prd_sort, p.prd_image, p.prd_price, p.prd_content, p.prd_date
		ORDER BY p.prd_no
	</select>
	
	<!-- 재고 변경 -->
	<insert id="insertStock" parameterType="Stock">
		insert into tbl_stock (prd_no, prd_stock)
		values (#{prdNo}, #{prdStock})
	</insert>

	<!-- 재고조회(by Prd_no -->
	<select id="selectStockByPrdNo" parameterType="int" resultType="int">		
		select COALESCE(SUM(prd_stock), 0) stock
		from  tbl_stock
		where  prd_no = #{prdNo}
	</select>

</mapper>

